---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">

    <div class="row">

        <div class="awscommunitybuilder">
            <picture>
                <img src="./img/community-builder-logo.png" alt="AWS Community Builder" height="200" width="344">
            </picture>
        </div>

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="150" width="150"
                    alt="{{ site.title }}" />
            </div>

            <h1 class="header author-header" itemprop="headline">{{ site.title }}</h1>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
        </div>
        <div class="col-md-12 main content-panel">

            <div class="articles">

                <h2>Latest Articles</h2>

                <ul>
                    {% for post in site.posts limit: site.post_limit %}

                    <li>
                        <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small><br />

                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <!-- <h3>{{ post.title }}</h3> -->
                            {{ post.title }}
                        </a>
                    </li>

                    {% endfor %}
                    <li>
                        <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>