---
layout: default
title: Uses
---

<div class="container-fluid index error">
  <div class="row">

    <div class="col-md-12 content-panel articles">
      <h1 class="header author-header">Uses</h1>

      <p>This site is linked to <a href="https://uses.tech/">uses.tech</a> via <a href="https://github.com/wesbos/awesome-uses">GitHub awesome-uses</a></p>

      <div class="related-header">
        <p><a href="{{ site.baseurl }}/settings/2020/07/31/technical_setup/">Technical setup</a></p>
        <p><a href="{{ site.baseurl }}/settings/2020/08/01/vscode_extensions/">VS Code extensions</a></p>
        <p><a href="{{ site.baseurl }}/settings/2020/08/11/chrome_extensions/">Chrome extensions</a></p>
        <p><a href="{{ site.baseurl }}/tools/2020/08/02/web_development_tools/">Web development tools</a></p>
        <p><a href="{{ site.baseurl }}/tools/2020/08/03/aws_helper/">AWS helper</a></p>
      </div>

      <div class="error-text">
        <a href="{{ site.baseurl }}/">Home</a> |
        <a href="{{ site.baseurl }}/posts/">All Posts</a> |
        <a href="{{ site.baseurl }}/search/">Search</a>
      </div>

      {% include social_links.html %}

    </div>

  </div>

  <div class="content-panel related">
    {% for post in site.posts limit:1 %}
      <div class="related-header">
        <a href="{{ site.baseurl }}{{ post.url }}">Suggested Article</a>
      </div>
      <div class="title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class="excerpt">
         {% if post.summary %}
          {{ post.summary | strip_html | truncatewords:30 }}
         {% else %}
          {{ post.excerpt | strip_html | truncatewords:30 }}
         {% endif %}
        <a href="{{ site.baseurl }}{{ post.url }}">Continue Reading</a>
      </div>
    {% endfor %}
  </div>

</div>