---
import { cn } from "@lib/utils";

type Props = {
	size: "sm" | "md" | "lg" | "xl" | "2xl";
};

const { size } = Astro.props;
---

<div class={cn(
  "w-full h-full mx-auto px-5",
  size === "sm" && "max-w-(--breakpoint-sm)",
  size === "md" && "max-w-(--breakpoint-md)",
  size === "lg" && "max-w-(--breakpoint-lg)",
  size === "xl" && "max-w-(--breakpoint-xl)",
  size === "2xl" && "max-w-(--breakpoint-2xl)",
)}>
  <slot/>
</div>
