<p class="links">
  {% if site.email_address %}<a href="mailto:{{ site.email_address }}" target="_new"><i class="fa fa-envelope-o"></i></a>{% endif %}
  {% if site.twitter_username %}<a href="https://www.twitter.com/{{ site.twitter_username }}" target="_new"><i class="fa fa-twitter"></i></a>{% endif %}
  {% if site.mastodon_username %}<a rel="me" href="https://awscommunity.social/@{{ site.mastodon_username }}" target="_new"><i class="fa fa-mastodon"></i></a>{% endif %}
  {% if site.dev-to_username %}<a href="https://dev.to/{{ site.dev-to_username }}" target="_new"><i class="fa fa-dev-to"></i></a>{% endif %}
  {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
  {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt"></i></a>{% endif %}
  {% if site.stackoverflow_link %}<a href="{{ site.stackoverflow_link }}" target="_new"><i class="fa fa-stack-overflow"></i></a>{% endif %}
  <a href="{{ site.baseurl }}/feed.xml" target="_new"><i class="fa fa-rss"></i></a>
</p>
