---
import "@styles/global.css";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Drawer from "@components/Drawer.astro";
const { title, description, coverImageSrc } = Astro.props;
import { SITE } from "@consts";
---

<!doctype html>
<html lang="en">
  <head>
    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="ad18022d-5431-470e-909a-74a7882c97e2"
      data-domains="johanneskonings.dev" 
      />
      <script type="text/javascript">
        var infolinks_pid = 3430605;
        var infolinks_wsid = 0;
      </script>
      <script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
    <BaseHead title={`${title} | ${SITE.TITLE}`} description={description}, coverImageSrc={coverImageSrc} />
  </head>
  <body>
    <Header />
    <Drawer />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
