---
import "@styles/global.css";
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Drawer from "@components/Drawer.astro";
const { title, description, coverImageSrc } = Astro.props;
import { SITE } from "@consts";
---

<!doctype html>
<html lang="en">
  <head>
    <script
      is:inline
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="ad18022d-5431-470e-909a-74a7882c97e2"
      data-domains="johanneskonings.dev" 
      />
      <script src="https://aiharsoreersu.net/act/files/tag.min.js?z=8722637" data-cfasync="false" async></script>
    <BaseHead title={`${title} | ${SITE.TITLE}`} description={description}, coverImageSrc={coverImageSrc} />
  </head>
  <body>
    <Header />
    <Drawer />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
